@page
@model WeCare.Web.Pages.Trainings.CreateModalModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using WeCare.Localization
@inject IHtmlLocalizer<WeCareResource> L
@{
    Layout = null;
}

<abp-modal>
    <abp-modal-header title="@L["Novo Treino"].Value"></abp-modal-header>
    <abp-modal-body>
        <form data-ajaxform="true" asp-page="/Trainings/CreateModal">
            <abp-input asp-for="Training.Name" />
            <abp-input asp-for="Training.ObjectiveId" />
        </form>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
</abp-modal>